#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@

DEB_HOST_ARCH = $(shell dpkg-architecture -qDEB_HOST_ARCH)

CONFFLAGS := \
	-DCMAKE_BUILD_TYPE=None \
	-DCMAKE_BUILD_TYPE=Release \
	-DCMAKE_FIND_PACKAGE_NO_PACKAGE_REGISTRY=ON \
	-DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH) \
	-DCMAKE_INSTALL_LOCALSTATEDIR=/var \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DCMAKE_INSTALL_SYSCONFDIR=/etc \
	-DCMAKE_VERBOSE_MAKEFILE=ON \
	-DENABLE_CLANG_FORMAT=OFF \
	-DENABLE_COVERAGE=OFF \
	-DENABLE_CPPLINT=OFF \
	-DENABLE_DOCS=OFF \
	-DENABLE_INTEL_CPU=ON \
	-DENABLE_INTEL_GPU=OFF \
	-DENABLE_INTEL_GNA=OFF \
	-DENABLE_OV_ONNX_FRONTEND=OFF \
	-DENABLE_PKGCONFIG_GEN=ON \
	-DENABLE_PYTHON=OFF \
	-DENABLE_SAMPLES=OFF \
	-DENABLE_SYSTEM_OPENCL=OFF \
	-DENABLE_SYSTEM_PROTOBUF=ON \
	-DENABLE_SYSTEM_PUGIXML=ON \
	-DENABLE_SYSTEM_SNAPPY=ON \
	-DENABLE_SYSTEM_TBB=ON \
	-DENABLE_TESTS=OFF \
	-DProtobuf_USE_STATIC_LIBS=OFF \
	-DTBBROOT=/usr/lib/$(DEB_HOST_MULTIARCH) \
	-DTHREADING=TBB_AUTO \
	-DCPACK_GENERATOR=DEB \
	"-GUnix Makefiles" \
#	--debug-output --trace --trace-expand

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

override_dh_auto_install:
	cp debian/plugins.$(DEB_HOST_ARCH).xml debian/plugins.xml
	dh_auto_install
