#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

DOT_IN_FILES := \
	libinference-engine.install \
	openvino-dev.install

%:
	dh $@

CONFFLAGS := \
	-DCMAKE_BUILD_TYPE=Release \
	-DENABLE_CLANG_FORMAT=OFF \
	-DENABLE_CLDNN=OFF \
	-DENABLE_COVERAGE=OFF \
	-DENABLE_CPPLINT=OFF \
	-DENABLE_DOCS=OFF \
	-DENABLE_GNA=OFF \
	-DENABLE_OPENCV=OFF \
	-DENABLE_PYTHON=OFF \
	-DENABLE_SAMPLES=OFF \
	-DENABLE_SPEECH_DEMO=OFF \
	-DENABLE_TESTS=OFF \
	-DENABLE_VPU=OFF \
	-DNGRAPH_INTERPRETER_ENABLE=OFF \
	-DNGRAPH_ONNX_IMPORT_ENABLE=ON \
	-DNGRAPH_TEST_UTIL_ENABLE=OFF \
	-DNGRAPH_USE_SYSTEM_ONNX=ON \
	-DNGRAPH_USE_SYSTEM_PROTOBUF=ON \
	-DTBBROOT=/usr/lib/$(DEB_HOST_MULTIARCH) \
	-DTHREADING=TBB_AUTO \
	-DUSE_SYSTEM_ADE=ON \
	-DUSE_SYSTEM_PUGIXML=ON \
	-DUSE_SYSTEM_XBYAK=ON
	-DTREAT_WARNING_AS_ERROR=OFF \
#	--debug-output --trace --trace-expand

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

override_dh_auto_clean:
	dh_auto_clean
	for file in $(DOT_IN_FILES); do rm -f debian/$${file}; done

override_dh_auto_install:
	dh_auto_install
	sed -i -e "s|location=\"|location=\"/usr/lib/$(DEB_HOST_MULTIARCH)/openvino/inference-plugins/|g" \
	  $$(ls debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/openvino/inference-plugins/plugins.xml)
	for file in $(DOT_IN_FILES); \
	do \
	  sed -e "s|\$${DEB_HOST_MULTIARCH}|$(DEB_HOST_MULTIARCH)|g" \
	  <debian/$${file}.in >debian/$${file}; \
	done
