#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

%:
	dh $@

CONFFLAGS := \
	-DCMAKE_BUILD_TYPE=Release \
	-DENABLE_CLANG_FORMAT=OFF \
	-DENABLE_CLDNN=OFF \
	-DENABLE_COVERAGE=OFF \
	-DENABLE_CPPLINT=OFF \
	-DENABLE_DOCS=OFF \
	-DENABLE_GNA=OFF \
	-DENABLE_OPENCV=OFF \
	-DENABLE_PYTHON=OFF \
	-DENABLE_SAMPLES=OFF \
	-DENABLE_SPEECH_DEMO=OFF \
	-DENABLE_TESTS=OFF \
	-DENABLE_VPU=OFF \
	-DNGRAPH_INTERPRETER_ENABLE=OFF \
	-DNGRAPH_ONNX_IMPORT_ENABLE=OFF \
	-DNGRAPH_TEST_UTIL_ENABLE=OFF \
	-DTBB_DIR=/usr \
	-DTHREADING=TBB_AUTO

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/openvino/inference-plugins
	sed -e "s|location=\"|location=\"/usr/lib/$(DEB_HOST_MULTIARCH)/openvino/inference-plugins/|g" \
	  <$$(ls debian/tmp/usr/deployment_tools/inference_engine/lib/*/plugins.xml) \
	  >debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/openvino/inference-plugins/plugins.xml
